<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://phpunit.de/phpunit.xsd"
         stopOnFailure="false"
         strict="true"
         processIsolation="true"
         verbose="true"
         syntaxCheck="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="test/phpunit/bootstrap.php">

    <testsuite name="opencart-barzahlen">
        <directory suffix="Test.php">test</directory>
    </testsuite>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <!-- don't check barzahlen sdk as it has its own test suite -->
                <directory suffix=".php">src/lib/barzahlen/api</directory>
                <!-- don't test controllers -->
                <directory suffix=".php">src/lib/barzahlen/controller</directory>
                <directory suffix=".php">src/admin/controller</directory>
                <directory suffix=".php">src/catalog/controller</directory>
                <!-- don't test models -->
                <directory suffix=".php">src/catalog/model</directory>
                <!-- don't test repositories at the moment -->
                <directory suffix=".php">src/lib/barzahlen/repository</directory>
                <!-- don't need to check language files -->
                <directory suffix=".php">src/admin/language</directory>
                <directory suffix=".php">src/catalog/language</directory>
                <!-- don't need to check include files -->
                <file>src/lib/barzahlen/versionCheck/include.php</file>
                <file>src/lib/barzahlen/include.php</file>
                <file>src/lib/barzahlen/includeLib.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/coverage" title="contao-webshop-barzahlen"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>